.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/img/images/mc_landing_banner.png');
}

.content-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vh;
    height: 30rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: relative;
}

@media screen and (max-width: 768px) {
    .content-layout {
        width: 90%;
        height: auto;
    }
}
